<h4><font color="DarkGoldenRod ">WELCOME TO Hospital</font></h4>
<img class="img-responsive" src="https://www.crh.org/images/default-source/Hero-Images/homepage-tractor.jpg?sfvrsn=10" alt="homepage masthead">
<p>
 we have so many types of machines and different doctors for different diseases etc they all are available only when you are registered......
</p>
<p>Our Hospital is fully equipped with Modern Equipments and doing service with highly qualified and dedicated supporting medical team.
        Our Hospitals is equipped with latest laminar Flow operation 
        Theatre for carrying Neuro Surgeries in addition to Centralized Air Conditioned Operation Theatre for
         Laparoscopic and opther General Surgeries.
          Our Hospital is fully equipped for 24 hr.
          Emergency Medical Management with casually, ICU and HDU.</p>
<body >
       
       <marquee><img  src="assets/hos.jpg" width="450" height="400">
        <img src="assets/img-1.jpg" alt="" class="left" width="416" height="432">
        <img  src="assets/images.jpg" width="450" height="400">
        <img  src="assets/hospital.jpg" width="450" height="400"></marquee>

</body>
