<h1 align="center"><font color="navy">e-HOSPITAL </font></h1>
<h4 align="middle-left" ><br><font color="navy">GET APPOINTMENT WHERE YOU ARE</font></h4>
<br/>
<h2 align="center" ><pre class="tab"><a routerLink='home'><font color="#B71155"><font size="4px"><i><b>HOME</b></i></font></font></a>      <a routerLink='/about'><font color="#B71155"><font size="4px"><i><b>ABOUT</b></i></font></font></a>      <select>
 <option value=" ">CONTACT AS</option>
    <option value="landline">040-2446472</option>
    <option value="mobile number">+91-8978787005</option>
    <option value="linkedin">linkedin</option>
    <option value="facebook">facebook</option>
    <option value="gamil">gmail</option>
    <option value="outlook">outlook</option>

    

  </select> 
</pre></h2>
<router-outlet></router-outlet>
