
<div class="row">
     <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
         <ul>
<li><a routerLink='adminlogin'><font color="chocolate "><font size="4px"><b><label>ADMIN LOGIN</label></b></font></font></a></li><br/>
<li><a routerLink='doctorregis'><font color="chocolate"><font size="4px"><b><label>DOCTOR REGISTER</label></b></font></font></a></li><br/>
<li><a routerLink='doctorlogin'><font color="chocolate"><font size="4px"><b><label>DOCTOR LOGIN</label></b></font></font></a></li><br/>
<li><a routerLink='userregis'><font color="chocolate"><font size="4px"><b><label>PATIENT REGISTER</label></b></font></font></a></li><br/>
<li><a routerLink='userlogin'><font color="chocolate"><font size="4px"><b><label>PATIENT LOGIN</label></b></font></font></a></li><br/> 

</ul>

</div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
            
            <router-outlet></router-outlet>
    </div>
</div>

<div align="center">
    <app-img></app-img>
   </div>

